@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@theme{
    --font-dm:"DM Sans", sans-serif;
}
#banner .slick-dots .slick-active div{
    border-right: 2px solid #222 !important;
    color: #222 !important;
}

.prevButton svg {
    background-color:#979797;
    height: 20px;
    line-height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}
.nextButton svg {
    background-color:#979797;
    height: 20px;
    line-height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    position: absolute;
     top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media(min-width: 380px) and (max-width:575px){
    .one{
        padding: 0px;
        width: 12px;
    }
}